@import "common"

body
  background-color: rgba(245, 245, 245, 1)
  color: lighten($black, 25%)
  font-family: Helvetica, Arial, sans-serif
  font-size: 1em

h1, h2, h3, h4, h5, h6
  color: lighten($black, 25%)

h2
  font-size: 2em
  margin-bottom: .5em

h3
  margin-bottom: .5em

p
  margin-bottom: 1em

  &.small
    font-size: .75em

a
  color: #C60
  text-decoration: none

  &.button
    @include button

ul
  margin-bottom: 1em

  li
    span
      color: lighten($black, 60%)
      font-weight: bold

table
  width: 100%

  tr
    th
      border-bottom: 1px solid lighten($black, 80%)
      padding: 10px
      text-align: left

    td
      padding: 10px

  tr:nth-child(even)
    background-color: lighten($black, 90%)

#header
  background-color: lighten($black, 25%)
  height: 1.35em
  margin-bottom: 1em
  padding: .25em

  ul#navigation
    li
      border-right: 1px solid lighten($black, 35%)
      color: darken($white, 25%)
      display: inline-block
      font-size: .75em
      margin-right: .75em
      padding-right: 1em

      &:last-child
        border-right: 0 none

      a
        color: darken($white, 25%)
        text-decoration: none

        &:hover
          color: $white

  input
    border: 0 none
    padding: 2px 5px
    width: 15em

#content
  margin-bottom: 3em

  #flash_messages
    margin-bottom: 1em

    p
      margin: 0
      padding: .5em 1em

      &.error
        background-color: lighten(red, 25%)

      &.notice
        background-color: lighten(yellow, 25%)

      &.warning
        background-color: lighten(red, 45%)

  .asset-summary
    background-color: $white
    border: 1px solid lighten($black, 90%)
    margin-bottom: 1em
    padding: 10px
    background: -moz-linear-gradient(top, #ffffff 75%, #e5e5e5 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#ffffff), color-stop(100%,#e5e5e5))
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)

    &:before
      z-index: -2
      position: absolute
      background: transparent
      width: 70%
      height: 55%
      content: ''
      left: 15px
      bottom: 22px
      -webkit-transform: skew(-15deg) rotate(-5deg)
      -webkit-box-shadow: -5px 6px 10px rgba(0, 0, 0, 0.1)
      -moz-transform: skew(-15deg) rotate(-5deg)
      -moz-box-shadow: -5px 6px 10px rgba(0, 0, 0, 0.1)

    &:after
      z-index: -1
      position: absolute
      background: transparent
      width: 70%
      height: 55%
      content: ''
      right: 15px
      bottom: 22px
      -webkit-transform: skew(15deg) rotate(5deg)
      -webkit-box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1)
      -moz-transform: skew(15deg) rotate(5deg)
      -moz-box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.1)

    h3
      font-size: 1em
      margin-bottom: .25em
      overflow: hidden
      white-space: nowrap

    img
      display: block
      margin-bottom: .5em

    p.tags
      color: lighten($black, 60%)
      font-size: .75em
      height: 1.25em
      margin: 0
      overflow: hidden

      a
        color: lighten($black, 60%)

  .asset-download
    background-color: $white
    border: 1px solid lighten($black, 90%)
    margin-bottom: 1em
    padding: 10px
    width: 400px
    background: -moz-linear-gradient(top, #ffffff 75%, #e5e5e5 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,#ffffff), color-stop(100%,#e5e5e5))
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 )
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2)

    img
      @include box-shadow(0px, 1px, 5px, lighten($black, 90%))

  #related-assets
    .grid_12
      border-top: 1px solid lighten($black, 90%)
      margin-top: 1em
      padding-top: 1em

  .pagination
    margin-top: 2em
    text-align: center

#footer
  .container_12
    border-top: 1px solid lighten($black, 90%)
    color: lighten($black, 80%)
    font-size: .75em
    margin-top: 3em
    padding: 1em 0
